<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>


  <p>
    
    Splurty was built by <a target="_blank" href="http://github.com/tespintom">Tomas</a>.  A software developer and data science student learning the way of the future.  
  </p>
  <br />

  <p>
    I have been learning for the past month and hoping to be done in 3 months in order to start my dream career.  
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="http://thefirehoseproject.com/">here</a>.
  </p>

  <div class="row">

    <div class="col-12 col-sm-4">
            <%= image_tag 'tomas.JPG', class: 'img-fluid' %>

    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
    <h2 class="text-center">Tomas Espina</h2>
    <br />
    <p>

    Tomas Espina is sales professional currently making a transition into coding. He has a background in economics as well as a strong knowledge of the payment world.  
  
    </p>
    </div>
    </div>
    <br class="clear" />

</div>

<br class="clear" />
<br />
<br />
<br />
<br />